.editor {
  counter-reset: line;
  border: 1px solid #444;
  background-color: #1e1e1e; /* Dark background for the editor */
  color: #d4d4d4; /* Light text color */
}

.editor #codeArea {
  outline: none;
  padding-left: 60px !important;
}

.editor pre {
  padding-left: 60px !important;
}

.editor .editorLineNumber {
  position: absolute;
  left: 0px;
  color: #888888; /* Subdued line number color */
  text-align: right;
  width: 40px;
  font-weight: 100;
}
